
Business/obj/Business.csproj.nuget.dgspec.json
Business/obj/Business.csproj.nuget.g.props
Business/obj/Debug/net7.0/Business.assets.cache
Business/obj/Debug/net7.0/Business.csproj.AssemblyReference.cache
Business/obj/Debug/net7.0/Business.GeneratedMSBuildEditorConfig.editorconfig
Business/obj/project.assets.json
Business/obj/project.nuget.cache
Core/obj/Core.csproj.nuget.dgspec.json
Core/obj/Core.csproj.nuget.g.props
Core/obj/Debug/net7.0/Core.assets.cache
Core/obj/Debug/net7.0/Core.csproj.AssemblyReference.cache
Core/obj/Debug/net7.0/Core.GeneratedMSBuildEditorConfig.editorconfig
Core/obj/project.assets.json
Core/obj/project.nuget.cache
DataAccess/obj/DataAccess.csproj.nuget.dgspec.json
DataAccess/obj/DataAccess.csproj.nuget.g.props
DataAccess/obj/Debug/net7.0/DataAccess.assets.cache
DataAccess/obj/Debug/net7.0/DataAccess.csproj.AssemblyReference.cache
DataAccess/obj/Debug/net7.0/DataAccess.GeneratedMSBuildEditorConfig.editorconfig
DataAccess/obj/project.assets.json
DataAccess/obj/project.nuget.cache
Entities/obj/Debug/net7.0/Entities.assets.cache
Entities/obj/Debug/net7.0/Entities.csproj.AssemblyReference.cache
Entities/obj/Debug/net7.0/Entities.GeneratedMSBuildEditorConfig.editorconfig
Entities/obj/Entities.csproj.nuget.dgspec.json
Entities/obj/Entities.csproj.nuget.g.props
Entities/obj/project.assets.json
Entities/obj/project.nuget.cache
HttpTest/.vs/HttpTest/DesignTimeBuild/.dtbcache.v2
HttpTest/.vs/HttpTest/FileContentIndex/611e7f38-c2e0-49d4-83e8-c133c9251bca.vsidx
HttpTest/.vs/HttpTest/FileContentIndex/read.lock
HttpTest/.vs/HttpTest/v17/.futdcache.v2
HttpTest/.vs/HttpTest/v17/.suo
HttpTest/.vs/ProjectEvaluation/httptest.metadata.v7.bin
HttpTest/.vs/ProjectEvaluation/httptest.projects.v7.bin
HttpTest/obj/Debug/net7.0/HttpTest.AssemblyInfo.cs
HttpTest/obj/Debug/net7.0/HttpTest.assets.cache
HttpTest/obj/Debug/net7.0/HttpTest.csproj.AssemblyReference.cache
HttpTest/obj/Debug/net7.0/HttpTest.GeneratedMSBuildEditorConfig.editorconfig
HttpTest/obj/HttpTest.csproj.nuget.dgspec.json
HttpTest/obj/HttpTest.csproj.nuget.g.props
HttpTest/obj/project.assets.json
HttpTest/obj/project.nuget.cache
