.vsconfig
Server/Business/obj/Business.csproj.nuget.dgspec.json
Server/Business/obj/Business.csproj.nuget.g.props
Server/Business/obj/Debug/net7.0/Business.assets.cache
Server/Business/obj/Debug/net7.0/Business.csproj.AssemblyReference.cache
Server/Business/obj/Debug/net7.0/Business.GeneratedMSBuildEditorConfig.editorconfig
Server/Business/obj/project.assets.json
Server/Business/obj/project.nuget.cache
Server/Core/obj/Core.csproj.nuget.dgspec.json
Server/Core/obj/Core.csproj.nuget.g.props
Server/Core/obj/Debug/net7.0/Core.assets.cache
Server/Core/obj/Debug/net7.0/Core.csproj.AssemblyReference.cache
Server/Core/obj/Debug/net7.0/Core.GeneratedMSBuildEditorConfig.editorconfig
Server/Core/obj/project.assets.json
Server/Core/obj/project.nuget.cache
Server/DataAccess/obj/DataAccess.csproj.nuget.dgspec.json
Server/DataAccess/obj/DataAccess.csproj.nuget.g.props
Server/DataAccess/obj/Debug/net7.0/DataAccess.assets.cache
Server/DataAccess/obj/Debug/net7.0/DataAccess.csproj.AssemblyReference.cache
Server/DataAccess/obj/Debug/net7.0/DataAccess.GeneratedMSBuildEditorConfig.editorconfig
Server/DataAccess/obj/project.assets.json
Server/DataAccess/obj/project.nuget.cache
Server/Entities/obj/Debug/net7.0/Entities.assets.cache
Server/Entities/obj/Debug/net7.0/Entities.csproj.AssemblyReference.cache
Server/Entities/obj/Debug/net7.0/Entities.GeneratedMSBuildEditorConfig.editorconfig
Server/Entities/obj/Entities.csproj.nuget.dgspec.json
Server/Entities/obj/Entities.csproj.nuget.g.props
Server/Entities/obj/project.assets.json
Server/Entities/obj/project.nuget.cache
Server/HttpTest/.vs/HttpTest/FileContentIndex/294d8fdf-89b1-4ca7-a8e1-d6c187902808.vsidx
Server/HttpTest/.vs/HttpTest/FileContentIndex/80f4b1b7-57cd-4893-a7bb-ab6edec51cd0.vsidx
Server/HttpTest/.vs/HttpTest/FileContentIndex/f6435d4a-1972-4015-9755-4932ee280800.vsidx
Server/HttpTest/.vs/HttpTest/FileContentIndex/fd362d89-369e-4955-91cc-bb4ee11f9439.vsidx
Server/HttpTest/.vs/HttpTest/FileContentIndex/fe3d2d04-6868-4ff7-b152-d8bfc4ea6c46.vsidx
Server/HttpTest/.vs/HttpTest/v17/.futdcache.v2
Server/HttpTest/.vs/HttpTest/v17/.suo
Server/HttpTest/.vs/ProjectEvaluation/httptest.metadata.v7.bin
Server/HttpTest/.vs/ProjectEvaluation/httptest.projects.v7.bin
Server/HttpTest/obj/Debug/net7.0/HttpTest.assets.cache
Server/HttpTest/obj/Debug/net7.0/HttpTest.csproj.AssemblyReference.cache
Server/HttpTest/obj/Debug/net7.0/HttpTest.GeneratedMSBuildEditorConfig.editorconfig
Server/HttpTest/obj/HttpTest.csproj.nuget.dgspec.json
Server/HttpTest/obj/HttpTest.csproj.nuget.g.props
Server/HttpTest/obj/project.assets.json
Server/HttpTest/obj/project.nuget.cache
Server/Business/obj/Debug/net7.0/Business.csproj.FileListAbsolute.txt
Server/Core/obj/Debug/net7.0/Core.csproj.FileListAbsolute.txt
Server/DataAccess/obj/Debug/net7.0/DataAccess.csproj.FileListAbsolute.txt
Server/Entities/obj/Debug/net7.0/Entities.csproj.FileListAbsolute.txt
Server/HttpTest/obj/Debug/net7.0/HttpTest.csproj.FileListAbsolute.txt
